

<div class="homebox">
    <div class="homepix">
        <img src="../../images/bookbanner.png" />
    </div>
    <h3>Welcome to your home for tracking your comic book collection!</h3>
    <hr />
    <p>Here at My Comic Book Collection you can keep track of your entire comic book collection.  You can: </p>
    <ul>
        <li>Add, edit, and remove books from your collection</li>
        <li>View collection in entirety or by title</li>
        <li>Get a summary of your collection</li>
        <li>Create a wish list of books you want</li>
    </ul>
    <p>To see or manage your collection just <strong><a href="/login">login</a></strong>. If you're a new user, <strong><a href="/register">register</a></strong> for a totally free account.</p>

</div>

